#mainPopup {
	height: 200px;
	width: 450px;
	font-family: 'Roboto', Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.demo-card-square-light.mdl-card-light {
    width: 320px;
    height: 320px;
}

.demo-card-square-light > .mdl-card__title-light {
    color: #fff;
    background: url('https://getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

#mdl-grid\20 mainPopup{
    
}
#mainPopup{
    
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/icons/Push-link/SVG/pushlink_bridgev2.svg') bottom right no-repeat #46B6AC;
}

#hueUsername {
    border: none;
    width: 100%;
    -webkit-appearance: none;
    outline:none;
    background:white;
    -webkit-appearance: none; box-shadow: none !important;
}

hueUsername::select {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    min-width: 500px;
}

.true {
    color: green;
}

.true:hover {
    cursor: pointer;
}

.false {
    color: red;
}

.false:hover {
    cursor: pointer;
}