#mainPopup {
	padding: 10px;
	height: 200px;
	width: 500px;
	font-family: 'Roboto', Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}
#mdl-grid\20 mainPopup{
    padding-top: 70px;
}
#mainPopup{
    padding-top: 70px;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/icons/Push-link/SVG/pushlink_bridgev2.svg') bottom right no-repeat #46B6AC;
}

#hueUsername {
    border: none;
    width: 100%;
    -webkit-appearance: none;
    outline:none;
    background:white;
    -webkit-appearance: none; box-shadow: none !important;
}

hueUsername::select {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    min-width: 500px;
}

.true {
    color: green;
}

.false {
    color: red;
}